html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('../assets/london-apocalypse-uk-hd-wallpaper.jpg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "arial black", sans-serif;
  color: rgb(74, 17, 17);
  -webkit-text-stroke: 2px black;
  -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.5))
}

h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(90, 20, 20);
  -webkit-text-stroke: 1px black;
}

#start {
    text-align: center;
    font-size: 30px;
}

#timer{
    color: white;
}

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('./assets/mallet.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("../assets/vecteezy_rubble-debris-isolated-on-transparent-background_47827494.png") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('../assets/zombie.png') bottom center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  /*transform: scale(1.1);*/
}
